<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <% files.forEach(function(file) { %>
    <h2><%= file.title %></h2>
    <p><%= file.date %></p>
    <% }); %>
</body>
</html>
