<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="/prettyprint.js"></script>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= intro %></p>
  <%- __content %>
  <ul>
    <% list.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>
</body>
</html>
