<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="/prettyprint.js"></script>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= date %>
  <p><%= intro %></p>
  <%- __content %>
</body>
</html>
