@font-face {
	font-family: 'Addison-Regular';
	src: url('addison-regular.eot');
	src: url('addison-regular.eot?#iefix') format('embedded-opentype'),
	     url('addison-regular.woff') format('woff'),
	     url('addison-regular.ttf') format('truetype'),
	     url('addison-regular.svg#addison-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}